{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h2>Llista de tasques</h2>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">Tasca</th>
            <th scope="col">Prioritat</th>
            <th scope="col">Hores Pressupostades</th>
            <th scope="col">Accions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{task.getTitle}}</td>
                <td>{{task.getPriority}}</td>
                <td>{{task.getHours}}</td>
                <td>
                    {% if userData.getId == task.getUser.getId %}
                        <a href="{{ path('task_detail', {'id':task.id} )}}" class="btn btn-success">Show</a>
                        <a href="{{ path('task_edit', {'id':task.id} )}}" class="btn btn-warning" >Edit</a>
                        <button class="btn btn-danger" >Delete</button>
                    {% else %}
                        <a href="{{ path('task_detail', {'id':task.id} )}}" class="btn btn-success">Show</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
